#about
  padding: 1.25em
  padding-top: 6.5em
  padding-bottom: 0

  .item-wrapper
    margin-bottom: 2em

    .item-title
      color: var(--fiolet)
      line-height: 1.35
      margin-bottom: 1.5em
      text-align: center

    .item-body
      font-size: 0.95em
      line-height: 1.33
      color: var(--monochrome)

    .card-container
      display: flex
      flex-direction: column

      .card
        display: flex
        flex-direction: row
        align-items: center
        padding: 1em
        border-radius: 10px

        &:not(last-child)
          margin-bottom: 1.5em

        .card-icon
          width: 2em
          height: 2em
          background-color: green

        .card-content
          flex: 1
          font-size: 0.75rem
          line-height: 1.6
          color: black
