@import 'main.sass'
@import 'navbar.sass'
@import 'about.sass'

:root
  --black: #000
  --orange: #ec644a
  --light-grey: #d8d8d8
  --yellow: #ffd047
  --grey: #7c7c7b
  --yellow-hover: #ffa547
  --light-fiolet: #cec5de
  --blue: #75bbd6
  --mid-fiolet: #9d8bbd
  --white: #fff
  --pink: #e6539e
  --fiolet: #6a4f9b
  --mid-yellow: #ffe086
  --monochrome: #3f3f3e
  --light-blue: #d2e9f2
  --green: #59a954
  --light-yellow: #fff0c2
  --mid-orange: #f39988
  --light-pink: #f7c6df
  --light-orange: #f9ccc3
  --mid-blue: #a4d2e4
  --light-green: #c8e3c7

*
  box-sizing: border-box
  margin: 0
  padding: 0

html
  font-size: 16px

body
  background-color: var(--fiolet)

h1,h2,h3,h4,h6
  font-family: SF-Pro-Rounded-Heavy

h5
  font-family: SF-Pro-Rounded-Regular

p
  font-family: SF-Pro-Rounded-Semibold

.btn
  border-radius: 25px

.btn-primary
  font-family: SF-Pro-Rounded-Heavy
  font-size: 0.8rem
  height: 2.8rem
  width: 16.875rem
  background-color: var(--yellow) !important
  color: black !important
  border-color: var(--yellow) !important

// Шрифт для основного контента страницы
@font-face
  font-family: Cormac-ExtraLight
  src: url(/assets/fonts/Cormac-Extralight.ttf)

// Шрифт для заголовков и нейминга
@font-face
  font-family: Amavick
  src: url(/assets/fonts/Amavick.ttf)

@font-face
  font-family: SF-Pro-Rounded-Heavy
  src: url(/assets/fonts/SF-Pro-Rounded-Heavy.ttf)

@font-face
  font-family: SF-Pro-Rounded-Regular
  src: url(/assets/fonts/SF-Pro-Rounded-Regular.ttf)

@font-face
  font-family: SF-Pro-Rounded-Bold
  src: url(/assets/fonts/SF-Pro-Rounded-Bold.ttf)

@font-face
  font-family: SF-Pro-Rounded-Semibold
  src: url(/assets/fonts/SF-Pro-Rounded-Semibold.ttf)
