#main
  display: flex
  flex-direction: column
  justify-content: center
  min-height: 560px
  padding: 1.5625rem
  background-color: white
  color: white
  background-image: url(/assets/images/main-bg.png)
  background-size: 230%

  h1
    font-size: 1.875em

  h5
    color: #cbc3dd
    margin-bottom: 3.75em

  .btn
    align-self: center
