#main
  display: flex
  flex-direction: column
  justify-content: center
  min-height: 560px
  padding: 1.2em
  position: relative
  background-color: var(--mid-fiolet)
  color: white
  background-image: url(/assets/images/main-bg.png)
  background-size: 230%

  h2
    color: var(--text-fiolet)
    margin-top: 2em

  .signup-ref
    position: absolute
    display: flex
    flex-direction: column
    justify-content: center
    align-self: center
    margin: 0 1em
    padding: 1.25em
    bottom: -3.5em
    border-radius: 15px
    box-shadow: 0 3px 10px 4px rgba(0, 0, 0, 0.05)
    background-color: white
    color: var(--monochrome)
    text-align: center

    button
      font-size: 0.85em

.btn
  border-radius: 20px

.btn-primary
  font-family: SF-Pro-Rounded-Heavy,
  background-color: var(--yellow) !important,
  color: var(--fiolet) !important
  border-color: var(--yellow) !important
