@import 'navbar.sass'
@import 'about.sass'

$navbar-dark-color: red
$navbar-dark-toggler-border-color: red

*
  box-sizing: border-box
  margin: 0
  padding: 0

:root
  --white: #fff
  --monochrome: #3f3f3e
  --mid-blue: #a4d2e4
  --mid-red: #f39988
  --dark-grey: #b6b6b5
  --grey: #e4e5e4
  --mid-fiolet: #9d8bbd
  --blue-2: #75bbd6
  --yellow: #ffd047
  --orange-2: #ec644a
  --mid-yellow: #ffe086
  --monochrome-2: #6b6b6b
  --fiolet-2: #6a4f9b
  --black: #000
  --text-fiolet: #cbc3dd
  --main-text-grey: #7c7c7b

// Шрифт для основного контента страницы
@font-face
  font-family: Cormac-ExtraLight
  src: url(/assets/fonts/Cormac-Extralight.ttf)

// Шрифт для заголовков и нейминга
@font-face
  font-family: Amavick
  src: url(/assets/fonts/Amavick.ttf)

@font-face
  font-family: SF-Pro-Rounded-Heavy
  src: url(/assets/fonts/SF-Pro-Rounded-Heavy.ttf)

h1,h1,h2,h3,h4,h5,h6
  font-family: SF-Pro-Rounded-Heavy

html
  font-family: Cormac-Extralight
  font-size: 16px

body

#main
  display: flex
  flex-direction: column
  justify-content: center
  min-height: 568px
  padding: 1.2em
  position: relative
  background-color: var(--fiolet-2)
  color: var(--white)
  background-image: url(/assets/images/main-bg.png)
  background-size: 100%

  h2
    color: var(--text-fiolet)
    margin-top: 2em

  .signup-ref
    position: absolute
    display: flex
    flex-direction: column
    justify-content: center
    align-self: center
    margin-right: 1.2em
    padding: 1.25em
    bottom: -3.5em
    border-radius: 15px
    box-shadow: 0 3px 10px 4px rgba(0, 0, 0, 0.05)
    background-color: white
    color: var(--monochrome)
    text-align: center

    button
      font-size: 0.85em

#about
  background-color: white

.btn
  border-radius: 20px

.btn-primary
  font-family: SF-Pro-Rounded-Heavy,
  background-color: var(--yellow) !important,
  color: var(--fiolet) !important
  border-color: var(--yellow) !important

#logo
  img
    width: 3em
    height: 3em

.navbar-phone
  color: white
  font-family: Amavick
