#mental
  .pros
    text-align: start

    li:not(:last-child)
      margin-bottom: 0.9em

  .steps
    li:not(:last-child)
      margin-bottom: 1.5em

    li:nth-child(1) .icon
      background-color: var(--blue)

    li:nth-child(2) .icon
      background-color: var(--orange)

    li:nth-child(3) .icon
      background-color: var(--fiolet)

  .result
    li
      &:nth-child(1) .icon
        background-image: url('/assets/images/exam.svg')

      &:nth-child(2) .icon
        background-image: url('/assets/images/math-love.svg')

      &:nth-child(3) .icon
        background-image: url('/assets/images/hero.svg')

      &:nth-child(4) .icon
        background-image: url('/assets/images/books.svg')
