#mental
  padding: 1.25em
  padding-top: 6.5em
  text-align: center

  .article
    margin-bottom: 2.875em

    .article-header
      color: var(--monochrome)
      margin-bottom: 1em

    h2
      margin-bottom: 1.25em

    p
      font-size: 1.25em

    .article-body
      font-family: SF-Pro-Rounded-Regular
      font-size: 0.875em
      color: var(--main-text-grey)

  ul
    list-style: none

    li
      text-align: start

    &.pros

      li::before
        display: inline-block
        content: ''
        width: 1em
        height: 1em
        background-image: url('/assets/images/accept.svg')
