@use '_variables' as var

.modal
  display: none
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  z-index: 1000

  .modal-overlay
    display: flex
    justify-content: center
    align-items: center
    position: absolute
    width: 100%
    height: 100%
    background-color: rgba(0, 0, 0, 0.5)

    .modal-container
      background-color: var.$fiolet
      margin: 0 0.5rem
      padding: 1.25rem
      position: relative
      border-radius: 20px
      width: 90%
      max-width: 560px
      min-height: 400px
      display: flex
      flex-direction: column
      justify-content: center
      align-content: center

      .form-button-close
        display: flex
        justify-content: center
        align-items: center
        position: absolute
        top: 0
        right: 0
        width: 1.5rem
        height: 1.5rem
        margin: 0.8rem
        font-size: 1.5rem
        font-weight: bold
        border-radius: 50%
        background-color: white
        cursor: pointer
        @include var.screen (desktop)
          width: 2rem
          height: 2rem
          margin: 1rem
          font-size: 2rem

      .form-container
        display: none
        color: white

        &.active
          display: block

        .form-header
          margin: 0.75rem
          padding: 0

          h2
            font-size: 1.5rem
            font-family: ProximaSoft-Extrabold
            margin-bottom: 0.5rem
            @include var.screen (desktop)
              font-size: 2rem

          span
            font-family: ProximaSoft-SemiBold
            @include var.screen (desktop)
              font-size: 1.25rem

        form
          display: block

          .radio
            color: white
            @include var.screen (desktop)
              font-size: 1rem

.modal.opened
  display: block

// This pseudo is for fill space area after modal on mobile due to browser panel hides when user scrolls down 
.modal:after
  content: ''
  width: 100%
  height: 100px
  bottom: -100px
  background-color: rgba(0, 0, 0, 0.5)
