header
  .navbar

  .navbar-dark
    background-color: cyan
    color: black

  .navbar-toggler-icon
    background-image: url('/assets/images/red.png') !important

  .nav-link
    text-align: center
    color: black !important
