@use '_variables' as var

#reason
  background-color: var.$fiolet

  .section-header
    color: white

  p
    font-size: 1.166em
    margin-bottom: 4px

  ul
    li
      background-color: white
      padding: 1.4em 1em 1em 1em
      border-radius: 20px 7px 20px 20px

      .icon
        width: 2em
        height: 2em
        background-size: contain

      &:nth-child(1) .icon
        background-image: url('/assets/icons/books.svg')

      &:nth-child(2) .icon
        background-image: url('/assets/icons/group.svg')

      &:nth-child(3) .icon
        background-image: url('/assets/icons/care.svg')

      &:nth-child(4) .icon
        background-image: url('/assets/icons/talks.svg')

      &:nth-child(5) .icon
        background-image: url('/assets/icons/tax.svg')
